body {
  text-align: center;
  margin: 0 0;
}

h1, h2 {
  font-family: 'Amatic SC';
  font-weight: 400;
}

h1 {
  font-size: 4em;
  letter-spacing: 0.25em;
}

h2 {
  letter-spacing: 0.05em;
  font-size: 2em;
}

.headBg {
  padding-top: 5em;
}

.headerBox {
  margin: auto;
  width: 20em;
  height: 5em;
}

.subHeaderBox {
  margin: auto;
  padding-bottom: 4em;
}

.container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: #fff;
}

.smallContainer {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.smallContainer {
  background-color: gray;
}

.trial {
  padding: 4em;
}

.beta {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-family: 'Amatic SC';
  font-size: 2em;
}

/* Animate heading */

@-webkit-keyframes typing {
    from { width: 0 }
}

@-moz-keyframes typing {
    from { width: 0 }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

h1 { 
  padding-left: 0.5em;
  text-align: left;
  width:4em;
  white-space:nowrap;
  overflow:hidden;
  border-right: .035em solid black;
  
  -webkit-animation: typing 3.5s steps(7, end), /* # of steps = # of characters */
                      blink-caret 0.5s step-end infinite;
  -moz-animation: typing 3.5s steps(7, end), /* # of steps = # of characters */
                      blink-caret 0.5s step-end infinite;
}

/* Animate other */

#slow {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
}